.main-wrapper{
display:grid;

grid-template-columns: repeat(11, minmax(0,auto));
/* easiest thing to do is to do rows by 12 */
grid-template-rows: repeat(11, minmax(0, auto));
gap: 3px;

}

body, html{
  height: 100%
  margin: 0;
  padding: 0;
}

.logo{
background: #FFD0F9;
grid-column: 1/2;
grid-row: 1/1;
align-items: right;
display: block;
padding: 10px;

}

.logo-style{
height: 100px;
width: 100px;
}

.menu{
font-family: 'Raleway', sans-serif;
  background: #FFD0F9;
  grid-column:4/12;
  grid-row: 1/1;
  padding: 10px;


}

nav ul{
margin: 0;
padding: 0;
list-style: none;
}

nav li{
display: inline-block;
align-content: right;

}

nav a{
color: #000000;
text-decoration: none;
text-transform:none;
font-size: 30px;

}

a:hover{
  color: white;
}


.hero{
  position: relative;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
width: 100%;
height: 100%;

  grid-column: 1/12;
  grid-row: 3/3;
  margin-bottom: 200px;

}




.pic-style{
  height: 400px;
  width: 400px;
}


.left-pic{
background: #822fe4;
grid-column: 1/1;
grid-row: 11/11;
margin-top: 100px;
margin-right: 50px;



}

.mid-pic{
  background: #e62ca8;
grid-column: 6/7;
grid-row: 11/11;
margin-top: 100px;



}

.right-pic{
  background: #e3e62c;
  grid-column: 11/12;
  grid-row: 11/11;



}







/*=====================================================================================*/
/* Add Here styles for larger phones and tablets */
@media only screen and (min-width: 480px) {
  .main-wrapper{

  }
