.main-wrapper{
display:grid;
background:white;

grid-template-columns: repeat(20, minmax(0,auto));
/* easiest thing to do is to do rows by 12 */


grid-template-rows: repeat(12, minmax(0, auto));
gap: 3px;

}

.logo{
background: #FFD0F9;
grid-column: 6/8;
grid-row: 1/2;
align-items: center;
}

.logo-style{
height: 200px;
width: 200px;

}


.header-pic{
height: 1308px;
width: 1313px;
}

.article{
  background: #f53333;
  grid-column: 1/13;
  grid-row: 1/10;

}

.menu{
font-family: 'Raleway', sans-serif;
  background: #FFD0F9;
  grid-column:1/13;
  grid-row: 2/3;



}

nav ul{
margin: 0;
padding: 0;
list-style: none;
}

nav li{
display: inline-block;
margin: 40px;
align-content: center;

}

nav a{
color: #000000;
text-decoration: none;
text-transform:none;
font-size: 25px;

}

a:hover{
  color: white;
}


.pic-style{
  height: 300px;
  width: 300px;

}


.left-pic{
background: #822fed;
grid-column: 2/5;
grid-row: 10/13;
margin-left: 100px;
}

.mid-pic{
  background: #e62ca8;
grid-column: 5/9;
grid-row: 10/13;
}

.right-pic{
  background: #e3e62c;
  grid-column: 9/12;
  grid-row: 10/13;
margin-right: 100px;
}


.TWO-left-pic{
background: #38ffeb;
grid-column: 2/5;
grid-row: 11/14;
margin-left: 100px;
}

.TWO-mid-pic{
  background: #4c38ff;
grid-column: 5/9;
grid-row: 11/14;
}

.TWO-right-pic{
  background: #8c009c;
  grid-column: 9/12;
  grid-row: 11/14;
margin-right: 100px;
}
