.main-wrapper{
display:grid;

grid-template-columns: repeat(11, minmax(0,auto));
/* easiest thing to do is to do rows by 12 */
grid-template-rows: repeat(11, minmax(0, auto));
gap: 3px;

}

body, html{
  height: 100%
  margin: 0;
  padding: 0;
}

.logo{
/* background: #FFD0F9; */
grid-column: 1/2;
grid-row: 1/1;
align-items: right;
display: inline-flex;
padding: 10px;

}

.logo-style{
height: 100px;
width: 100px;
}

.menu{
font-family: 'Raleway', sans-serif;
  /* background: #FFD0F9; */
  grid-column:7/12;
  grid-row: 1/1;
  padding: 10px;
  display: inline-flex;
  margin-left: 400px;
}


nav ul{
margin: 0;
padding: 0;
list-style: none;
}

nav li{
display: inline-block;
align-content: right;
padding: 20px;
}

nav a{
color: #000000;
text-decoration: none;
text-transform:none;
font-size: 30px;

}

a:hover{
  color: white;
}


.hero{
  position: relative;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
width: 100%;
height: 600px;
background-size: cover;
/* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
background-position: center top;

  grid-column: 1/12;
  grid-row: 3/3;


}

.text-container{
  position: absolute;
bottom: 0;
color: white;
}


.sec-grid{
  display:grid;

  grid-template-columns: repeat(11, minmax(0,auto));
  /* easiest thing to do is to do rows by 12 */
  grid-template-rows: repeat(11, minmax(0, auto));
  gap: 10px;
  display: inline-flex;

  grid-template-columns: auto 500px 3fr;
}

.pic-style{
  height: 300px;
  width: 300px;
grid-row: 10/11;

}


.left-pic{
background: #822fe4;

/* display: inline-block */



}

.mid-pic{
  background: #e62ca8;





}

.right-pic{
  background: #e3e62c;

/* three pics should be contained in another grid. Display grid in the parent section. 3 columns of one section each */


}



/* absolute vs relative for the text in the text boc. start always from the bottom:0
20  */



/*=====================================================================================*/
/* Add Here styles for larger phones and tablets */
@media only screen and (min-width: 480px) {
  .main-wrapper{

  }
