body{
  color:black;
}

.main-title{
color:red;
}

#main-text{
  color:green;
}

p{color: blue;}

div{
  width:250px;
  height:250px;
  border:solid 4px #333333;
  margin: 10px;
  padding: 50px;
  display:inline-block;
}
