.main-wrapper {
  display: grid;
  grid-template-columns: repeat(11, minmax(0, auto));
  /* easiest thing to do is to do rows by 12 */
  grid-template-rows: repeat(11, minmax(0, auto));
  gap: 3px;
}

body, html {
  height: 100% margin: 0;
  padding: 0;
}


.header-home{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: repeat(1, 1fr);
  grid-column: 1/12;
  grid-row: 1/2;
  }

.header-out{
background-color: white;
display: grid;
grid-template-columns: 1fr 9fr;
grid-template-rows: repeat(1, 1fr);
grid-column: 1/12;
grid-row: 1/2;
}

.logo {
  /* background: #FFD0F9; */
  grid-column: 1/2;
  grid-row: 1/1;
  display: inline-flex;
  padding: 10px;
}

.logo-style {
  height: 100px;
  width: 100px;
}

.menu {
  font-family: 'Raleway', sans-serif;
  font-weight:600;
  /* background: #FFD0F9; */
  grid-column: 7/12;
  grid-row: 1/1;
  padding: 10px;
  display: inline-flex;
  margin-left: 300px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  align-content: right;
  padding: 50px;
}

nav a {
  color:#1122ff;
  text-decoration: none;
  text-transform: none;
  font-size: 30px;
}

a:hover {
  color: white;
}

.hero{
  position: relative;
  background-image: url("../images/updatedhero.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 680px;
  background-size: cover;
  /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
  background-position: center top;
  grid-column: 1/12;
  grid-row: 1/2;
  margin-bottom: 50px;
  position: relative;

}

.hero-necklace{
  background-image: url("../images/necklacebanner.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height:400px;
  background-size: cover;
  /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
  background-position: center top;
  grid-column: 1/12;
  grid-row: 3/3;
  margin-bottom: 50px;
  position: relative;
}

.hero-earring{
  background-image: url("../images/earringbanner.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height:400px;
  background-size: cover;
  /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
  background-position: center top;
  grid-column: 1/12;
  grid-row: 3/3;
  margin-bottom: 50px;
  position: relative;
}

.hero-rings{
  background-image: url("../images/ringsbanner.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height:400px;
  background-size: cover;
  /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
  background-position: center top;
  grid-column: 1/12;
  grid-row: 3/3;
  margin-bottom: 50px;
  position: relative;
}

.sec-grid-out {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 40px;
  background: white;
  height: 100%;
  /* margin-top: 60px; */
  padding: 0;
grid-column: 1/12;
grid-row: 4/4;
}

.sec-grid-out-rings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 40px;
  background: white;
  height: 100%;
  /* margin-top: 60px; */
  padding: 0;
grid-column: 1/12;
grid-row: 4/4;
}

.sec-grid-out-earrings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 40px;
  background: white;
  height: 100%;
  /* margin-top: 60px; */
  padding: 0;
grid-column: 1/12;
grid-row: 4/4;
}

.grid-cell{
  position: relative;
}
.grid-cell:hover .overlay-gallery{
  opacity: 1;
}

.text-container {
  position: absolute;
  bottom: 0;
  right: 20px;
  color: white;
}

.sec-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 38px;
  background: black;
  height: 100%;
  /* margin-top: 60px; */
  padding: 0;

}

.pic-style {
  height: 500px;
  width: 500px;
  display: inline-flex;
}

.pic-style-gallery {
  height: 100%;
  width: 100%;
  display: inline-flex;
  position: relative;
}


.left-pic {
  background: #822fe4;
  position: relative;
  /* display: inline-block */
}

.left-pic:hover .overlay-home {
  opacity: 1;
}

.mid-pic {
  background: #e62ca8;
  position: relative;
}
.mid-pic:hover .overlay-home {
  opacity: 1;
}
.right-pic {
  background: #e3e62c;
  position: relative;
  /* three pics should be contained in another grid. Display grid in the parent section. 3 columns of one section each */
}
.right-pic:hover .overlay-home {
  opacity: 1;
}
.overlay-text-home{
  color: white;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  font-size: 90px;
}

.overlay-home {
  position: absolute;
  top: 20;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1122ff;}

.overlay-text-gallery{
  color: black;
  font-family: 'Raleway', sans-serif;
  position: relative;
  font-size: 70px;
  text-align: center;
  top: 40%;
  bottom: 100%;
  left: 25%;
  right: 25%;
}

/* .overlay-text-grid{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid: 3px;
} */

.overlay-gallery {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 60;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E3E3E3;
  grid-column: 7/7;
  grid-row: 7/7;


}


footer{
      background-color: blue;
      background-position: cover;
      display: grid;
      grid-template-columns: 1fr 9fr;
      grid-template-rows: repeat(1, 1fr);
      grid-column: 1/12;
      grid-row: 12/12;}


/* absolute vs relative for the text in the text boc. start always from the bottom:0
20  */
/*=====================================================================================*/
/* Add Here styles for larger phones and tablets */

/* SMART Phones - Portrait */
@media only screen and (min-width: 480px) {


  .header-out{

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column: 1/12;
  grid-row: 1/2;
  }

  .logo {
    /* background: #FFD0F9; */
    grid-column: 6/8;
    grid-row: 1/1;
    display: block;
    padding: 10px;
    margin-bottom: 10px;
  }

  .logo-style {
    height: 100px;
    width: 100px;
  }


  .menu {
    font-family: 'Raleway', sans-serif;
    /* background: #FFD0F9; */

    grid-column: 2/13;
    grid-row: 2/3;
    display: inline-block;
    margin-left: 15px;
  }

  .hero-necklace{
    height: 100PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    grid-row: 3/3;
    margin-bottom: 10px;
  }

  .hero-earring{
    height: 100PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    background-position: center top;
    grid-column: 1/12;
    grid-row: 3/3;
    margin-bottom: 10px;
  }

  .hero-rings{
    height: 100PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    background-position: center top;
    grid-row: 3/3;
    margin-bottom: 10px;
  }

  .sec-grid-out-rings {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column: 2/12;
  grid-row: 4/7;
  }

  .sec-grid-out-earrings {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column: 2/12;
  grid-row: 4/7;
  }


  nav li {
    padding: 10px;
  }

  nav a {
    color:#1122ff;
    text-decoration: none;
    text-transform: none;
    font-size: 20px;
    display: inline-block;
  }

  .sec-grid-out {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  .overlay-text-gallery{
    color: black;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    font-size: 40px;
    align-content: center;
    top: 40%;
    bottom: 100%;
    left: 25%;
    right: 25%;

  }

}


@media only screen and (min-width: 780px){

  .menu {
    font-family: 'Raleway', sans-serif;
    /* background: #FFD0F9; */

    grid-column: 2/13;
    grid-row: 2/3;
    display: inline-block;
    margin-left: 10px;
  }

  .hero-necklace{
    height: 100PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    margin-bottom: 50px;
  }

  .hero-earring{
    height: 100PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    background-position: center top;
    grid-column: 1/12;
    grid-row: 3/3;
    margin-bottom: 50px;
  }

  .hero-rings{
    height: 100PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    background-position: center top;
    grid-row: 3/3;
    margin-bottom: 50px;
  }

  .sec-grid-out-rings {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column: 2/12;
  grid-row: 4/7;
  }

  .sec-grid-out-earrings {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column: 2/12;
  grid-row: 4/7;
  }

  .sec-grid-out {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  nav li {
    padding: 40px;
  }

  nav a {
    font-size: 20px;
  }

}



/* laptop  */
@media only screen and (min-width: 1200px) and (max-width: 1600px) {


}
