.main-wrapper {
  display: grid;
  grid-template-columns: repeat(11, minmax(0, auto));
  /* easiest thing to do is to do rows by 12 */
  grid-template-rows: repeat(11, minmax(0, auto));
  gap: 3px;
}

body, html {
  height: 100% margin: 0;
  padding: 0;
    font-family: 'Raleway', sans-serif;
}


.header-home {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: repeat(1, 1fr);
  grid-column: 1/12;
  grid-row: 1/2;
}

.hero-home-text {
  display: inline-flex;
  font-size: 50px;
  color: blue;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 70px;
  position: relative;
  grid-row: 9/9;
  grid-column: 1/7;
  text-align: right;
}

.header-out {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: repeat(1, 1fr);
  grid-column: 1/12;
  grid-row: 1/2;
}

.logo-home {
  /* background: #FFD0F9; */
  grid-column: 1/2;
  grid-row: 1/1;
  display: inline-flex;
  padding: 10px;
  position: relative;
}

.logo {
  /* background: #FFD0F9; */
  grid-column: 1/3;
  grid-row: 1/1;
  display: inline-flex;
  padding: 10px;
  margin-right: 30px;
}

.logo-style {
  height: 100px;
  width: 100px;
}

.menu-home {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  /* background: #FFD0F9; */
  grid-column: 1/9;
  grid-row: 1/1;
  padding: 10px;
  display: inline-flex;
  margin-left: 325px;
}

.menu {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  /* background: #FFD0F9; */
  grid-column: 7/12;
  grid-row: 1/1;
  padding: 10px;
  display: inline-flex;
  margin-left: 300px;
}



.menu nav a{
  color: black;
  font-size: 30px;
  text-decoration: none;
}

.menu nav li{
  display: inline-block;

  padding:50px;
}
.menu-home nav a{
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.menu-home nav li{
  display: inline-block;
  padding:50px;
}


nav a:hover {
  color: black;
}

.footer-nav nav a{
    font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.footer-nav nav li{
  display:inline-block;
}

.hero-home {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  background: pink;
  background-image: url("../images/girlflower.jpg");
  background-repeat: no-repeat;
  width: 150%;
  height: 700px;
  background-size: cover;
  /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
  background-position: center top;
  grid-column: 1/12;
  grid-row: 1/2;
  margin-bottom: 50px;
  position: relative;
}

.hero-necklace {
  background-image: url("../images/necklacebanner.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
  background-position: center top;
  grid-column: 1/12;
  grid-row: 2/3;
  margin-bottom: 50px;
  position: relative;
}

.hero-earring {
  background-image: url("../images/earringbanner.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
  background-position: center top;
  grid-column: 1/12;
  grid-row: 2/3;
  margin-bottom: 50px;
  position: relative;
}

.hero-rings {
  background-image: url("../images/ringsbanner.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-size: cover;
  /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
  background-position: center top;
  grid-column: 1/12;
  grid-row: 2/3;
  margin-bottom: 50px;
  position: relative;
}

.sec-grid-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  background: white;
  height: 100%;
  /* margin-top: 60px; */
  padding: 0;
  grid-column: 1/12;
  grid-row: 3/3;
}

.sec-grid-out-necklace {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 40px;
  background: white;
  height: 100%;
  /* margin-top: 60px; */
  padding: 0;
  grid-column: 1/12;
  grid-row: 3/3;
}

.sec-grid-out-rings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 40px;
  background: white;
  height: 100%;
  /* margin-top: 60px; */
  padding: 0;
  grid-column: 1/12;
  grid-row: 3/3;
}

.sec-grid-out-earrings {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 40px;
  background: white;
  height: 100%;
  /* margin-top: 60px; */
  padding: 0;
  grid-column: 1/12;
  grid-row: 3/3;
}

.grid-cell {
  position: relative;
}

.grid-cell:hover .overlay-gallery {
  opacity: 1;
}

.pic-style-home {
  height: 100%;
  width: 100%;
  display: inline-flex;
}

.pic-style {
  height: 500px;
  width: 500px;
  display: inline-flex;
}

.pic-style-gallery {
  height: 100%;
  width: 100%;
  display: inline-flex;
  position: relative;
}

.overlay-text-home {
  color: white;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  font-size: 90px;
}

.overlay-home {
  position: absolute;
  top: 20;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #1122ff;
}

.overlay-text-gallery {
  color: black;
  font-family: 'Raleway', sans-serif;
  position: relative;
  font-size: 70px;
  text-align: center;
  top: 40%;
  bottom: 100%;
  left: 25%;
  right: 25%;
}


.overlay-gallery {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 60;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E3E3E3;
  grid-column: 7/7;
  grid-row: 7/7;
}

.social-banner-long {
  background-image: url("../images/laptop-collage.jpg");
  background-repeat: no-repeat;
  margin-top: 200px;
  margin-bottom: 50px;
  width: 100%;
  height: 500px;
  background-size: cover;
  /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
  grid-column: 1/12;
  grid-row: 5/6;
  position: relative
}

.home-pic-text {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  background: blue;
  color: white;
}

.home-pic-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background: yellow;
}

.site-footer {
  position: relative;
  padding: 60px;
  background-color: blue;
  background-position: cover;
  display: grid;
  grid-template-columns: 1fr 6fr;
  /* easiest thing to do is to do rows by 12 */
  grid-template-rows: repeat(1, 1fr);
  grid-column: 1/12;
  grid-row: 12/12;
}

.footer-logo{
  position: relative;
  grid-row: 2/3;
  grid-column: 1/1;
}

.footer-nav{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  /* background: #FFD0F9; */
  grid-column: 1/9;
  grid-row: 1/1;
  padding: 10px;
  display: inline-flex;
  margin-left: 325px;
}

.footer-nav nav a{
    font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.footer-nav nav li{
  display:inline-block;
}

/* absolute vs relative for the text in the text boc. start always from the bottom:0
20  */
/*=====================================================================================*/
/* Add Here styles for larger phones and tablets */
/* ALL Apple IPhones - Portrait Mode */
@media only screen and (min-width: 375px) {
  .header-home {
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(1, 1fr);
  }

  .hero-home-text {
    font-size: 30px;
    grid-row: 6/6;
    grid-column: 6/7;
    padding-right: 50px;
    color: blue;
  }

  .social-banner-long {
    background-image: url("../images/smallersocial.jpg");
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 100%;
    height: 500px;
    background-size: auto;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    grid-column: 1/12;
    grid-row: 5/12;
    background-size: contain;
    position: relative;
  }

  .logo-home {
    /* background: #FFD0F9; */
    grid-column: 1/2;
    grid-row: 1/1;
    display: inline-flex;
    padding: 10px;
    margin-right: 10px;
  }

  .logo-style {
    height: 75px;
    width: 75px;
  }

  .menu-home {
    /* background: #FFD0F9; */
    grid-column: 2/4;
    grid-row: 1/2;
    padding-top: 25px;
    margin-left: 5px;
  }

  .hero-home {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    height: 500px;
    background-size: cover;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    margin-bottom: 20px;
  }

  .header-out {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(1, 1fr);
    grid-column: 1/12;
    grid-row: 1/2;
  }

  .logo {
    /* background: #FFD0F9; */
    grid-column: 1/2;
    grid-row: 1/1;
    display: inline-flex;
    padding: 10px;
    margin-right: 10px;
  }

  .menu {
    grid-column: 2/4;
    grid-row: 1/2;
    padding-top: 25px;
    margin-left: 5px;
  }

  .hero-necklace {
    height: 100PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    margin-bottom: 10px;
  }

  .hero-earring {
    height: 100PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    margin-bottom: 10px;
  }

  .hero-rings {
    height: 100PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    margin-bottom: 10px;
  }

  .sec-grid-out-rings {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .sec-grid-out-earrings {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .sec-grid-out-necklace {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  .sec-grid-home {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
    /* margin-top: 60px; */
  }

  .menu nav a{
    color: black;
    font-size: 10px;
    text-decoration: none;
  }

  .menu nav li{
    display: inline-block;

    padding:0px;
  }
  .menu-home nav a{
    color: white;
    font-size: 10px;
    text-decoration: none;
  }

  .menu-home nav li{
    display: inline-block;
    padding:0px;
  }

  nav a:hover {
    color: black;
  }

  .site-footer nav a{
      font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 0px;
    text-decoration: none;
  }

  .footer-nav nav li{
    display:inline-block;
  }

  /*
  nav li {
    padding: 0px;
  }

  nav a {
    color: black;
    font-size: 10px;
  } */

  .overlay-text-gallery {
    position: absolute;
    font-size: 30px;
    align-content: center;
    top: 40%;
    bottom: 40%;
    left: 25%;
    right: 25%;
  }

  .footer-logo{
    grid-row: 1/2;
    grid-column: 1/1;
  }

}

@media only screen and (min-width: 768px) {
  .header-home {
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(1, 1fr);
  }

  .hero-home-text {
    color: white;
    font-size: 50px;
    grid-row: 3/3;
    grid-column: 6/6;
  }



  .social-banner-long {
    background-image: url("../images/laptop-collage.jpg");
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 100%;
    height: 200px;
    background-size: cover;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    grid-column: 1/12;
    grid-row: 5/12;
    position: relative;
  }

  .home-pic-text {
    font-size: 20px;
  }

  .logo-style {
    width: 100px;
    height: 100px;
  }

  .menu-home {
    /* background: #FFD0F9; */
    grid-column: 2/6;
    grid-row: 1/2;
    padding-top: 25px;
    margin-left: 20px;
  }

  .hero-home {
    height: 700px;
  }

  .sec-grid-out-rings {
    grid-template-columns: repeat(2, 1fr);
  }

  .sec-grid-out-earrings {
    grid-template-columns: repeat(2, 1fr);
  }

  .sec-grid-out-necklace {
    grid-template-columns: repeat(2, 1fr);
  }

  .sec-grid-home {
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    /* margin-top: 60px; */
  }

  .menu nav a{
    color: black;
    font-size: 20px;
    text-decoration: none;
  }

  .menu nav li{
    display: inline-block;
    padding:15px;
  }
  .menu-home nav a{
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .menu-home nav li{
    display: inline-block;
    padding:15px;
  }

  nav a:hover {
    color: black;
  }

  .site-footer nav a{
      font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 10px;
    text-decoration: none;
  }

  .footer-nav nav li{
    display:inline-block;
    padding: 15px;
  }


  .overlay-text-gallery {
    position: absolute;
    font-size: 30px;
    align-content: center;
    top: 40%;
    bottom: 40%;
    left: 25%;
    right: 25%;
  }
}

/* 13 INCH LAPTOP */
@media only screen and (min-width: 1280px) {
  .header-home {
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(1, 1fr);
  }

  .hero-home-text {
    font-weight: 800;
    font-size: 90px;
    grid-row: 3/4;
    grid-column: 6/6;
    color: white;
  }

  .social-banner-long {
    background-image: url("../images/laptop-collage.jpg");
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-size: cover;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    grid-column: 1/12;
    grid-row: 5/12;
    position: relative;
  }

  .home-pic-text {
    font-size: 40px;
  }

  .menu-home {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    /* background: #FFD0F9; */
    grid-column: 2/6;
    grid-row: 1/2;
    padding-top: 20px;
    margin-left: 200px;
  }


  .menu {
    padding-top: 20px;
    margin-left: 200px;
  }

  .hero-home {
    height: 1500px;
  }

  .logo-style {
    height: 100%;
    width: 100%;
  }

  .sec-grid-out-rings {
    grid-template-columns: repeat(3, 1fr);
  }

  .sec-grid-out-earrings {
    grid-template-columns: repeat(3, 1fr);
  }

  .sec-grid-out-necklace {
    grid-template-columns: repeat(3, 1fr);
  }

  .sec-grid-home {
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    /* margin-top: 60px; */
  }
  .menu nav a{
    color: black;
    font-size: 20px;
    text-decoration: none;
  }

  .menu nav li{
    display: inline-block;
    padding:25px;
  }
  .menu-home nav a{
    color: white;
    font-size: 20px;
    text-decoration: none;
  }

  .menu-home nav li{
    display: inline-block;
    padding:25px;
  }

  nav a:hover {
    color: black;
  }

  .site-footer nav a{
      font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 40px;
    text-decoration: none;
  }

  .footer-nav nav li{
    display:inline-block;
    padding: 25px;
  }

  /* nav li {
    padding: 25px;
  }

  nav a {
    color: black;
    font-size: 40px;
  } */

  .overlay-text-gallery {
    position: absolute;
    font-size: 30px;
    align-content: center;
    top: 40%;
    bottom: 40%;
    left: 25%;
    right: 25%;
  }

  .hero-necklace {
    height: 300PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    margin-bottom: 10px;
  }

  .hero-earring {
    height: 300PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    margin-bottom: 10px;
  }

  .hero-rings {
    height: 300PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    margin-bottom: 10px;
  }
}



/* 16 INCH LAPTOP */
@media only screen and (min-width: 3072px) {
  .header-home {
    grid-template-columns: 1fr 6fr;
    grid-template-rows: repeat(1, 1fr);
  }

  .hero-home-text {
    font-weight: 800;
    font-size: 150px;
    grid-row: 3/4;
    grid-column: 6/6;
    color: white;
  }

  .social-banner-long {
    margin-top: 150px;
    height: 800px;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
  }

  .home-pic-text {
    font-size: 40px;
  }

  .menu-home {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    /* background: #FFD0F9; */
    grid-column: 2/6;
    grid-row: 1/2;
    padding-top: 20px;
    margin-left: 200px;
  }

  .menu {
    padding-top: 20px;
    margin-left: 200px;
  }

  .hero-home {
    height: 2500px;
  }

  .logo-style {
    height: 100%;
    width: 100%;
  }

  .sec-grid-out-rings {
    grid-template-columns: repeat(3, 1fr);
  }

  .sec-grid-out-earrings {
    grid-template-columns: repeat(3, 1fr);
  }

  .sec-grid-out-necklace {
    grid-template-columns: repeat(3, 1fr);
  }

  .sec-grid-home {
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    /* margin-top: 60px; */
  }

  nav li {
    padding: 95px;
  }

  nav a {
    color: black;
    font-size: 70px;
  }

  .overlay-text-gallery {
    position: absolute;
    font-size: 100px;
    align-content: center;
    top: 40%;
    bottom: 40%;
    left: 25%;
    right: 25%;
  }

  .hero-necklace {
    height: 300PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    margin-bottom: 10px;
  }

  .hero-earring {
    height: 300PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    margin-bottom: 10px;
  }

  .hero-rings {
    height: 300PX;
    background-size: contain;
    /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
    margin-bottom: 10px;
  }
}
