
html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
}

/* change page widths to 100% */

.hide{
  display: none;
}


.home {
  grid-column: 1/12;
  grid-row: 1/2;
  height: 100vh;
background-repeat: no-repeat;
background-size: cover;
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */

  /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
  /* background-position: center top; */
  position: relative;
}

#changingword{
  color
  /* apply id to the part you want to change  */
}

h1{
  font-family: amador, sans-serif;
  font-weight: 400;
  font-style: normal;
    color: white;
    font-size: 30vw;
    margin: 0;
    padding: 0;
}

.resume-pg h1{
  font-size: 10vw;
}


.open-letters h1{
    	/* -webkit-text-stroke: 4px white; */
    font-size: 35vw;
    margin: 0;
    padding: 0;
line-height: .9em;
    /* percentages or relative unites (ems) */
    text-align: center;
}

.gradient{
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */
  background-size: cover;
  width: 100%;
height: 100vh;
  position: relative;
}

.grad-banner{
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */
  background-size: cover;
  width: 100%;
  height: 200px;
  grid-column: 1/13;
  grid-row: 1/2;
}

.grad-bar{
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, #fa55ac, #f19824); /* Standard syntax (must be last) */
  background-size: cover;
  width: 100px;
  height: 1030px;
  grid-column: 11/11;
  display: inline-flex;
}


.grid-sec{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header{
grid-column: 1/2;
grid-row: 1/2;

}


h2{
font-family: 'Oswald', sans-serif;
font-weight: 300;
font-size: 15px;
margin: 0;
}



h3{
font-family: 'Oswald', sans-serif;
font-style: italic;
line-height: 0;
font-size: 12px;
}

h4{
  font-family: 'Oswald', sans-serif;
font-weight: lighter;
  line-height: 0;
  font-size: 12px;
}


body{
  font-family: 'Open Sans', sans-serif;
  font-size: .6em;
}


.logo{
  grid-column: 1/1;
margin: 0;
  position: fixed;
  display: inline-flex;

}


.logo-default{
  display: none;
}

#logo-style{
  width: 70%;
}

.menu{
  display: inline-flex;
  height: 100%;
grid-column: 11/11;
position: fixed;
/* only if you want it to stay here */
right: 1.5%;
z-index: 9;


}

.menu-container{
  height: 500px;
  position: relative;
}


.menu-item{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
    text-align: right;

}

.menu-default{
  display: none;
}


.menu-list{
  list-style-type: none;
margin: 0;
}


.menu-item a{
  color: black;
  font-size: 1.7em;
  text-decoration: none;
}

nav a:hover {
  color: blue;
}

.open-letters{
grid-column: 1/5;
/* grid-row: 6/7; */
padding-left: 30px;
}


.about-pg{
  grid-column: 1/12;
  grid-row: 2/3;
  height: 100vh;
  width: 100%;
  /* background: blue; */
}

.aboutme{
  position: sticky;
  grid-column: 2/10;
  grid-row: 3/7;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, auto));
  grid-template-rows: repeat(6, minmax(0, auto));
}

.aboutme-summary{
  margin: 5px;
  text-align: justify;
  display: inline-block;
  grid-column: 1/7;
  grid-row: 3/7;
}


.about-title h1{
  font-size: 9vw;
  color:  black;
}


.about-title{
  grid-column: 1/7;
  grid-row:1/1;
margin-left: 5px;
  font-family: amador, sans-serif;

  font-weight: 400;
  font-style: normal;

display: inline-flex;
}


#changingword {
  color: #fa55ac;
margin-left: 5px;

}


.profile{
  grid-column: 1/5;
position: relative;
}


.prof-pic{
width: 100%;
padding-left: 10px;

}


.work-pg{
  grid-column: 1/12;
  grid-row: 3/4;
  /* background: purple; */
  /* height: 1500px; */
  width: 100%;

}


.banner-title{
grid-column: 4/8;
grid-row: 11/12;
display: inline;
}

.work-gallery h1{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: black;
  line-height: 1;
}

.work-gallery{
  display: grid;
  grid-column: 1/10;
  grid-row: 2/11;
  grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, minmax(0, auto));
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery-cell{
  margin: 10px;
}

.gallery-style {
  width: 100%;
  height: 100%;
  display: inline-flex;
  position: relative;

}

.gallery-text{
  position: relative;
padding-top: 10px;
margin-left: 0;
text-align: center;

height: 100%;
width: 100%;
}


.resume-pg{
  grid-column: 1/12;
  grid-row: 4/5;
  /* background: green; */
  height: 100vh;
  width: 100%
}


.resume-div{
  background: none;
  grid-column: 1/11;
  grid-row: 2/12;
  z-index: 7;
  position: sticky;
    line-height: 1.5;
    z-index: 9;
}

.r-text{
  line-height: .8;
  font-size: 14px;
}




.grad-footer{
  width: 100%;
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */
}


.resume-style{
width: 650%;
}

.resume-ed{
  /* background: pink; */
  grid-column: 3/9;
  padding: 10px;
  margin-top: 50px;
  background: #fa55ac;
}

.resume-ex{
  /* background: blue; */
  grid-column: 4/12;
  padding: 10px;
  text-align: left;
    background: #fa55ac;
    margin-bottom: 50px;
}

.resume-div h1{
  color:white;
}
.resume-ex p{
  line-height: normal;
}

.resume-ex h1{
  text-align: left;
}

.resume-in{
  background: orange;
  grid-column: 1/13;
  grid-row: 8/9;
}

.contact-pg{
  /* background: red; */
  grid-column: 1/12;
  grid-row: 5/6;
  height: 100vh;
  width: 100%;
}

footer{
display: grid;
grid-template-columns: repeat(12, minmax(0,auto));
grid-template-rows: repeat(10, minmax(0,auto));
background: black;
}

.footer-nav{
  display: inline-block;
  grid-column: 1/10;
  grid-row: 2/3;
}

.footer-nav nav li{
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}


footer h1{
  font-size: 20px;
  line-height: .8em;
}

nav li{
  text-decoration: none;
}

.psa{
  color: white;
  grid-column: 11/11;
  grid-row:1/4;
  padding: 20px;
}


/* CONTACT FORM  */
#mainform{
width:100%;
padding-top:30px;
padding-left: 3px;
grid-row: 5/6;
grid-column: 1/10;
}


/* WORK PAGES */


.subpage-head{
  grid-column: 1/1;
  position: fixed;
}


.pics{
  grid-row: 2/5;
  grid-column: 1/10;
}


.project-text{
  grid-column: 3/4;
  grid-row: 1/2;
padding: 30px;
margin-top: 150px;
}


.project-text h1{
  color: #fa55ac;
  line-height: .9;
}


.pic-gallery{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, auto));
  grid-template-rows: repeat(6, minmax(0,auto));

}

.pic-cell{
  background: pink;
  position: relative;
}

.work-pics{
  width:100%;
  position: relative;
}

#clulessvid{
  width: 370;
  height: 500;
}










/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
#logo-style{
  width: 100%;}


body{
font-size: 1em;}

.menu-item a{
  font-size: 1.5em;
}

.open-letters{
  grid-column: 1/12;
}

.open-letters h1{
  line-height: 1;
}


.home h1{
  font-size: 30vw;
  text-align: center;
}

.about-pg{
  /* height: 1500px; */
}


.aboutme-summary{
  grid-column: 1/7;
  padding: 10px;

}

.grad-banner{
  height: 300px;
}


.gallery-style{
  width: 120%;
}

.gallery-text{
  position: relative;
padding-top: 10px;
margin-left: 0;
text-align: center;

height: 100%;
width: 100%;
}

.resume-div{
  grid-row: 3/12;
  position: relative;
}



.project-text{
  margin-top: 205px;
  margin-bottom: 100px;
  padding-right: 100px;
    padding-left: 50px;
}

.project-text h1{
font-size: 25vw;
}

.project-text p{
  margin-top: 20px;
}

.r-text{
  font-size: 18px;
}

#mainform{
padding-top:130px;
}
}

@media only screen and (min-width: 1024px) {

#logo-style{
  width: 150%;
}

.about-pg{
  height: 100vh;
}

.aboutme{
  grid-row: 3/6;
  grid-column: 3/10;
}

.aboutme-summary{
  grid-column: 4/7;
  grid-row: 2/3;
  padding-left: 20px;

}

.menu-item a{
  font-size: 2em;
}

.prof-pic{
  width: 100%;
}

.profile{
  grid-column: 1/4;
grid-row: 2/3;
}

.work-pg{
  /* height: 2000px; */
}

.banner-title{
  grid-column: 5/8;
}
.banner-title h1{
  font-size: 20vw;
}

.work-gallery{
grid-column: 1/11;
}

.gallery-style{
  width: 100%;
}

.gallery-text{
  padding-top: 100px;
}
.r-text{
font-size:  20px;
}

.project-text h1{
  font-size: 20vw;
}

#form{
  margin: 40px 0 0 200px;
}

}

@media only screen and (min-width: 1280px){

.resume-ed{
  grid-column: 3/8;
}

.resume-ex{
grid-column: 4/11;
}

.resume-div{
  grid-row: 2/10;
}

}



@media only screen and (min-width: 1440px) {
.home{
  /* height: 1200px; */
}

.about-pg{
  /* height: 1000px; */
}

.resume-pg{
  /* height: 1500px; */
}

.menu-item a{
  font-size: 2.5em;
}

.resume-ed{
  padding: 20px;
}

.r-text{
  font-size: 20px;
}

.resume-ex{

}

.grad-banner{
  height: 500px;
}

.work-pics{
  width: 100%;
}

.pic-gallery{
  grid-gap: 50px;
}


}


@media only screen and (min-width: 1920px) {

  #logo-style{
    width: 170%;
  }

.home{
  /* height: 1500px; */
}


.about-pg{
  /* height: 1400px; */
}

.resume-pg{
  /* height: 1500px; */
}

.profi-pic{
  width: 55%;
}
.resume-ed{
  padding: 20px;
}

.r-text{
  font-size: 20px;
}

.resume-ex{

}

.work-pics{
  width: 100%;
}

.pic-gallery{
  grid-gap: 50px;
}
}
