


body{
  margin: 0;
  padding: 0;
  width: 100%;
}

/* change page widths to 100% */

.hide{
  display: none;
}


.home {
  grid-column: 1/12;
  grid-row: 1/2;
  height: 850px;
background-repeat: no-repeat;
background-size: cover;
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */

  /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
  /* background-position: center top; */
  position: relative;
}

#changingword{
  color
  /* apply id to the part you want to change  */
}

h1{
  font-family: amador, sans-serif;
  font-weight: 400;
  font-style: normal;
    color: white;
    font-size: 30vw;
    margin: 0;
    padding: 0;
}

.resume-pg h1{
  font-size: 10vw;
}


.open-letters h1{
    	/* -webkit-text-stroke: 4px white; */
    font-size: 35vw;
    margin: 0;
    padding: 0;

    /* percentages or relative unites (ems) */
    text-align: center;
}

.gradient{
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
}

.grad-banner{
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */
  background-size: cover;
  width: 100%;
  height: 200px;
  grid-column: 1/13;
  grid-row: 1/2;
}
.grad-bar{
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, #fa55ac, #f19824); /* Standard syntax (must be last) */
  background-size: cover;
  width: 100px;
  height: 1030px;
  grid-column: 11/11;
  display: inline-flex;
}


.grid-sec{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

header{
grid-column: 1/2;
grid-row: 1/2;

}


h2{
font-family: 'Oswald', sans-serif;
font-weight: 300;
font-size: 15px;
margin: 0;
}



h3{
font-family: 'Oswald', sans-serif;
font-style: italic;
line-height: 0;
font-size: 12px;
}

h4{
  font-family: 'Oswald', sans-serif;
font-weight: lighter;
  line-height: 0;
  font-size: 12px;
}


body{
  font-family: 'Open Sans', sans-serif;
  font-size: .6em;
}


.logo{
  grid-column: 1/1;
margin: 0;
  position: fixed;
  display: inline-flex;

}


.logo-default{
  display: none;
}

#logo-style{
  width: 70%;
}

.menu{
  display: inline-flex;
  height: 100%;
grid-column: 11/11;
position: fixed;
/* only if you want it to stay here */
right: 2%;
z-index: 9;


}

.menu-container{
  width: 100px;
  height: 500px;
  position: relative;
}


.menu-item{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
    text-align: right;

}



.menu-list{
  list-style-type: none;
margin: 0;
}


.menu-item a{
  color: black;
  font-size: 1.7em;
  text-decoration: none;
}

nav a:hover {
  color: blue;
}

.open-letters{
grid-column: 1/5;
grid-row: 6/7;

}


.about-pg{
  grid-column: 1/12;
  grid-row: 2/3;
  height: 900px;
  width: 100%;
  /* background: blue; */
}

.aboutme{
  position: sticky;
  grid-column: 2/10;
  grid-row: 6/6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(6, 1fr);
  background: red; */

}

.aboutme-summary{
  margin: 5px;
  text-align: justify;
  display: inline-block;
  grid-column: 1/7;
  grid-row: 3/7;
}


.about-title h1{
  font-size: 9vw;
  color:  black;
}


.about-title{
  grid-column: 1/7;
  grid-row:1/1;
margin-left: 5px;
  font-family: amador, sans-serif;

  font-weight: 400;
  font-style: normal;

display: inline-flex;
}


#changingword {
  color: #fa55ac;
margin-left: 5px;

}


.profile{
  grid-column: 1/4;
position: relative;
}


.prof-pic{
width: 200%;
margin: 5px;

}


.work-pg{
  grid-column: 1/12;
  grid-row: 3/4;
  /* background: purple; */
  height: 1500px;
  width: 100%;

}


.banner-title{
grid-column: 4/8;
grid-row: 11/12;
display: inline;
}

.work-gallery h1{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: black;
  line-height: 0.9;
}

.work-gallery{
  display: grid;
  grid-column: 1/11;
  grid-row: 2/11;
  grid-template-columns: repeat(1, minmax(0, auto));
    grid-template-rows: repeat(4, minmax(0, auto));
    grid-gap: 0px;
}

.gallery-cell{

}


.overlay-text-gallery {
  color: black;
  font-family: 'Raleway', sans-serif;
  position: relative;
  font-size: 70px;
  text-align: center;
  top: 40%;
  bottom: 100%;
  left: 25%;
  right: 25%;
}


.overlay-gallery {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 60;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E3E3E3;
  grid-column: 7/7;
  grid-row: 7/7;
}

.grid-cell:hover .overlay-gallery {
  opacity: 1;
}


.gallery-style {
  width: 90%;
  display: inline-flex;
  position: relative;
}

.gallery-text{
padding: 20px;
margin-left: 0;
text-align: center;
}


.resume-pg{
  grid-column: 1/12;
  grid-row: 4/5;
  /* background: green; */
  height: 950px;
  width: 100%
}


.resume-div{
  background: none;
  grid-column: 1/11;
  grid-row: 2/12;
  z-index: 7;
  position: sticky;
    line-height: 1.5;
    z-index: 9;
}

.r-text{
  line-height: .8;
  font-size: 14px;
}

.grad-square{
  height: 170px;
  width: 100%;
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */
grid-column: 1/13;
grid-row: 12/12;
}


.grad-footer{
  height: 200px;
  width: 100%;
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */
}


.resume-style{
width: 650%;
}

.resume-ed{
  /* background: pink; */
  grid-column: 3/9;
  padding: 10px;
  background: #fa55ac;
}

.resume-ex{
  /* background: blue; */
  grid-column: 4/12;
  padding: 10px;
  text-align: left;
    background: #fa55ac;
}

.resume-div h1{
  color:white;
}
.resume-ex p{
  line-height: normal;
}

.resume-ex h1{
  text-align: left;
}

.resume-in{
  background: orange;
  grid-column: 1/13;
  grid-row: 8/9;
}

.contact-pg{
  /* background: red; */
  grid-column: 1/12;
  grid-row: 5/6;
  height: 840px;
  width: 100%;
}

footer{
grid-column: 1/13;
grid-row: 12/12;
background: black;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}


/* CONTACT FORM  */
#mainform{
width:100%;
margin:20px auto;
padding-top:20px;
grid-row: 5/6;
grid-column: 1/11;
}

#form{
border-radius:2px;
padding:30px;
font-size:14px;
font-weight:bold;
width:65%;
margin:20px 20px 0 35px;
}

#form h1{
  font-size: 20vw;
  color: #fa55ac;
}

input{
width:100%;
height:35px;
margin-top:5px;
border:1px solid #999;
border-radius:3px;
padding:5px;
}
input[type=button]{
background-color:#fa55ac;
font-family: 'Open Sans', serif;
font-Weight:bold;
font-size:20px;
color:white;
}
textarea{
width:100%;
height:80px;
margin-top:5px;
border-radius:3px;
padding:5px;
resize:none;
}
span{
color:red
}
#note{
color:black;
font-Weight:400;
}
#returnmessage{
font-size:14px;
color:green;
text-align:center;
}

/* WORK PAGES */


.subpage-head{
  grid-column: 1/1;
  position: fixed;
}


.pics{
  grid-row: 2/5;
  grid-column: 1/10;
}


.project-text{
  grid-column: 3/4;
  grid-row: 1/2;
padding: 30px;
margin-top: 150px;
}


.project-text h1{
  color: #fa55ac;
  line-height: .9;
}

.pic-gallery{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, auto));
  grid-template-rows: repeat(6, minmax(0,auto));

}

.pic-cell{
  background: pink;
  position: relative;
}

.work-pics{
  width:100%;
  position: relative;
}

#clulessvid{
  width: 370;
  height: 500;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
#logo-style{
  width: 100%;}

body{
font-size: 1em;}

.menu-item a{
  font-size: 1.5em;
}

.menu-container{
  width: 160px;
}

.open-letters{
  grid-column: 2/12;
  grid-row: 5/6;

}

.open-letters h1{
  line-height: 1;
}

.home{
  height: 1200px;
}

.home h1{
  font-size: 30vw;
  text-align: center;
}

.about-pg{
  height: 1500px;
}

.aboutme{
  grid-row: 7/8;
}

.grad-banner{
  height: 300px;
}

.work-pg{
  height: 2800px;
}

.resume-pg{
  height: 1500px;
}

.resume-div{
  grid-row: 3/12;
  position: relative;
}

.contact-pg{
  height: 1200px;
}


.project-text{
  margin-top: 205px;
  margin-bottom: 175px;
  padding-right: 100px;
    padding-left: 50px;
}

.project-text h1{
font-size: 25vw;
}

.project-text p{
  margin-top: 20px;
}

.r-text{
  font-size: 18px;
}
}

@media only screen and (min-width: 1024px) {

  .home{
  height: 800px;}

.open-letters{
  grid-row: 2/5;
}

.about-pg{
  height: 800px;
}

.aboutme{
  grid-row: 5/6;
}

.aboutme-summary{
  grid-column: 4/7;
  grid-row: 2/3;
  margin-left: 50px;

}

.prof-pic{
  width: 100%;
}

.profile{
  grid-column: 1/2'

}

.work-pg{
  height: 2000px;
}

.banner-title{
  grid-column: 5/8;
}
.banner-title h1{
  font-size: 20vw;
}

.work-gallery{
  grid-template-columns: repeat(2 minmax(0,auto));
}

.gallery-style{
  width: 50%;
}

.r-text{
font-size:  20px;
}

.project-text h1{
  font-size: 20vw;
}

#form{
  margin: 40px 0 0 200px;
}



}
