


body{
  margin: 0;
  padding: 0;
  width: 100%;
}

/* change page widths to 100% */

.hide{
  display: none;
}


.home {
  grid-column: 1/12;
  grid-row: 1/2;
  height: 850px;
background-repeat: no-repeat;
background-size: cover;
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */

  /* contain would fit it all. for sizes smaller. when you change it to contain you also have to change the height*/
  /* background-position: center top; */
  position: relative;
}

#changingword{
  color
  /* apply id to the part you want to change  */
}

h1{
  font-family: amador, sans-serif;
  font-weight: 400;
  font-style: normal;
    color: white;
    font-size: 20vw;
    margin: 0;
    padding: 0;
}

.resume-pg h1{
  font-size: 10vw;
}


.open-letters h1{
    	/* -webkit-text-stroke: 4px white; */
    font-size: 30vw;
    margin: 0;
    padding: 0;

    /* percentages or relative unites (ems) */
    text-align: center;
}

.gradient{
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */
  background-size: cover;
  width: 100%;
  height: 700px;
  position: relative;
}

.grad-banner{
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */
  background-size: cover;
  width: 100%;
  height: 130px;
  grid-column: 1/13;
  grid-row: 1/2;
}
.grad-bar{
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom, #fa55ac, #f19824); /* Standard syntax (must be last) */
  background-size: cover;
  width: 100px;
  height: 1030px;
  grid-column: 11/11;
  display: inline-flex;
}


.grid-sec{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

header{
grid-column: 1/2;
grid-row: 1/2;

}


h2{
font-family: 'Oswald', sans-serif;
font-weight: 300;
font-size: 15px;
margin: 0;
}



h3{
font-family: 'Oswald', sans-serif;
font-style: italic;
line-height: 0;
font-size: 12px;
}

h4{
  font-family: 'Oswald', sans-serif;
font-weight: lighter;
  line-height: 0;
  font-size: 12px;
}


body{
  font-family: 'Open Sans', sans-serif;
  font-size: .6em;
}


.logo{
  grid-column: 1/1;
margin: 0;
  position: fixed;
  display: inline-flex;

}

#logo-style{
  width: 50%;
}

.menu{
  display: inline-flex;
  height: 100%;
grid-column: 11/11;
position: fixed;
/* only if you want it to stay here */
right: 2%;
z-index: 9;
margin-right:

}

.menu-container{
  width: 100px;
  height: 500px;
  position: relative;
}


.menu-item{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
    text-align: right;


}



.menu-list{
  list-style-type: none;
margin: 0;
}


.menu-item a{
  color: black;
  font-size: 1.7em;
  text-decoration: none;
}

nav a:hover {
  color: blue;
}

.open-letters{
grid-column: 1/5;
grid-row: 6/7;

}


.about-pg{
  grid-column: 1/12;
  grid-row: 2/3;
  height: 900px;
  width: 100%;
  /* background: blue; */
}

.aboutme{
  position: sticky;
  grid-column: 2/10;
  grid-row: 6/6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-rows: repeat(6, 1fr);
  background: red; */

}

.aboutme-summary{
  margin: 5px;
  text-align: justify;
  display: inline-block;
  grid-column: 1/7;
  grid-row: 3/7;
}

.about-Iam{
  grid-column: 1/2;
  grid-row:1/1;
  display: inline-flex;
  font-family: amador, sans-serif;
  font-weight: 400;
  font-size: 50pt;
  font-style: normal;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 0pt;
}

.about-title h1{
  font-size: 9vw;
  color:  #fa55ac;
}


.about-title{
  grid-column: 1/7;
  grid-row:1/1;

  font-family: amador, sans-serif;

  font-weight: 400;
  font-style: normal;
margin: 0;
display: inline-flex;
}

.title-switch{
  grid-column: 4/7;
  grid-row: 1/2;
  /* text-decoration: underline; */
  display: inline-grid;
  margin-left: 5px;
}

.profile{
  grid-column: 1/4;
position: relative;
}


.prof-pic{
width: 200%;
margin: 5px;

}

.work-pg{
  grid-column: 1/12;
  grid-row: 3/4;
  /* background: purple; */
  height: 1500px;
  width: 100%;

}


.banner-title{
grid-column: 4/8;
grid-row: 11/12;
display: inline;
}

.work-gallery h1{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: black;
  line-height: 0.9;
}

.work-gallery{
  display: grid;
  grid-column: 1/11;
  grid-row: 2/11;
  grid-template-columns: repeat(1, minmax(0, auto));
    grid-template-rows: repeat(4, minmax(0, auto));
    grid-gap: 0px;
}

.gallery-cell{

}


.overlay-text-gallery {
  color: black;
  font-family: 'Raleway', sans-serif;
  position: relative;
  font-size: 70px;
  text-align: center;
  top: 40%;
  bottom: 100%;
  left: 25%;
  right: 25%;
}


.overlay-gallery {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 60;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #E3E3E3;
  grid-column: 7/7;
  grid-row: 7/7;
}

.grid-cell:hover .overlay-gallery {
  opacity: 1;
}


.gallery-style {
  width: 90%;
  display: inline-flex;
  position: relative;
}

.gallery-text{
padding: 20px;
margin-left: 0;
text-align: center;
}


.resume-pg{
  grid-column: 1/12;
  grid-row: 4/5;
  /* background: green; */
  height: 850px;
  width: 100%
}


.resume-div{
  background: none;
  grid-column: 1/11;
  grid-row: 2/7;
  z-index: 7;
  position: sticky;
    line-height: 1.5;
    z-index: 9;
}

.r-text{
  line-height: .8;
}

.grad-square{
  height: 170px;
  width: 100%;
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */
grid-column: 1/13;
grid-row: 12/12;
}


.grad-footer{
  height: 200px;
  width: 100%;
  background-color: #f19824; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, #f19824 , #fa55ac); /* Standard syntax (must be last) */
}


.resume-style{
width: 650%;
}

.resume-ed{
  /* background: pink; */
  grid-column: 3/9;
  padding: 10px;
  background: #fa55ac;
}

.resume-ex{
  /* background: blue; */
  grid-column: 4/11;
  padding: 10px;
  text-align: left;
    background: #fa55ac;
}

.resume-div h1{
  color:white;
}
.resume-ex p{
  line-height: normal;
}

.resume-ex h1{
  text-align: left;
}

.resume-in{
  background: orange;
  grid-column: 1/13;
  grid-row: 8/9;
}

.contact-pg{
  background: red;
  grid-column: 1/12;
  grid-row: 5/6;
  height: 840px;
  width: 100%;
}

footer{
grid-column: 1/13;
grid-row: 12/12;
background: black;
}


/* WORK PAGES */


.subpage-head{
  grid-column: 1/1;
  position: fixed;
}


.pics{
  grid-row: 2/5;
  grid-column: 1/10;
}


.project-text{
  grid-column: 3/4;
  grid-row: 1/2;
padding: 90px;
}


.project-text h1{
  color: #fa55ac;
  line-height: .75;
}

.pic-gallery{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, auto));
  grid-template-rows: repeat(6, minmax(0,auto));
}

.pic-cell{
  background: pink;
  position: relative;
}

.work-pics{
  width:100%;
  position: relative;
}
