


.hide{
  display: none;
}

body{
  background-color: #fbf4e1;
font-family: 'Raleway', sans-serif;
  text-align: center;
}


h1{
  font-family: 'Berkshire Swash', cursive;
  color:#000000;
  font-size:4rem;
  letter-spacing: 0.1rem;
  line-height: 4rem;
  margin-top: 0;
  text-decoration: underline;
}

/* h1{
  transform: rotate(-20deg);
} */
h2{
weight: 500;
font-size: 1.5rem;


}

p{
font-size: 20px;
weight: 400;
}


.header{
  background: pink;
display: inline-block;
margin-top: 20px;
}

.intro{
  font-size: 0.5rem;
}

.intro-text{
  padding-left: 250px;
  padding-right: 250px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.pic-style{
  height:35%;
  width: 35%;
  margin: 20px;
}



.get-ingredients{
  font-size:
}


.steps-text{
  padding-left: 250px;
  padding-right: 250px;
}

ul{
  text-align: left;
}
